// This file is part of Code Express
// Copyright (C) 2011 Novus

// This program is free software; you can redistribute it and/or 
// modify it under the terms of the GNU General Public License as 
// published by the Free Software Foundation; either version 2 of 
// the License, or (at your option) any later version.

// This program is distributed in the hope that it will be useful, 
// but WITHOUT ANY WARRANTY; without even the implied warranty of 
// MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU 
// General Public License for more details. You should have received 
// a copy of the GNU General Public License along with this program; 
// if not, write to the Free Software Foundation, Inc., 59 Temple 
// Place, Suite 330, Boston, MA 02111-1307 USA


#include <windows.h>
#include "resource.h"


IDD_INPUT_DLG DIALOGEX 0, 0, 264, 32
STYLE DS_CENTER | DS_SETFONT |  WS_POPUP | WS_VISIBLE | WS_CAPTION
EXSTYLE WS_EX_TOOLWINDOW 
CAPTION "Code Express"
FONT 10, "Courier New"
{
    EDITTEXT        IDC_INPUT, 4, 4, 220, 12, ES_LEFT
    LTEXT           "", IDC_HINT, 4, 18, 220, 12
    DEFPUSHBUTTON   "OK", IDOK, 228, 4, 32, 12, NOT WS_TABSTOP
    PUSHBUTTON      "Cancel", IDCANCEL, 228, 18, 32, 12, NOT WS_TABSTOP
}
